*.DS_Store
*.swp
*~
*.class
*.tasty
target/*
project/target
project/project/target
logs/
.bloop
.dotty-ide-artifact
.dotty-ide.json
.idea
.metals
.vscode
*.csv
*.dat
src/main/resources/

# Keep generated images
!target/temperatures/
!target/deviations/
!target/temperatures/*
!target/deviations/*
